ENV=dev
ACCOUNT_ID=accountId
COMPUTE_NODE_EFS_ID=efsId
AWS_PROFILE=profile
AWS_DEFAULT_REGION=us-east-1
ACTION=CREATE
SOURCE_URL=github
DESTINATION_URL=ecr
APPLICATION_TYPE=workflow-manager
APPLICATIONS_TABLE=applications-test